<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code44.finance">

    <!-- Application -->
    <!-- ======================================================================================================== -->
    <application>

        <!-- Providers -->
        <!-- ======================================================================================================== -->
        <provider
            android:name=".providers.AccountsProvider"
            android:authorities="com.code44.finance.debug.providers.AccountsProvider"
            android:exported="false" />
        <provider
            android:name=".providers.CategoriesProvider"
            android:authorities="com.code44.finance.debug.providers.CategoriesProvider"
            android:exported="false" />
        <provider
            android:name=".providers.TransactionsProvider"
            android:authorities="com.code44.finance.debug.providers.TransactionsProvider"
            android:exported="false" />
        <provider
            android:name=".providers.CurrenciesProvider"
            android:authorities="com.code44.finance.debug.providers.CurrenciesProvider"
            android:exported="false" />
        <provider
            android:name=".providers.BudgetsProvider"
            android:authorities="com.code44.finance.debug.providers.BudgetsProvider"
            android:exported="false" />
    </application>

</manifest>
