<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.code44.finance"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Activities -->
        <!-- ======================================================================================================= -->
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.SettingsActivity" />
        <activity android:name=".ui.CalculatorActivity" />
        <activity android:name=".ui.currencies.CurrenciesActivity" />
        <activity android:name=".ui.currencies.CurrencyActivity" />
        <activity android:name=".ui.currencies.CurrencyEditActivity" />
        <activity android:name=".ui.accounts.AccountsActivity" />
        <activity android:name=".ui.accounts.AccountActivity" />
        <activity android:name=".ui.accounts.AccountEditActivity" />
        <activity android:name=".ui.categories.CategoriesActivity" />
        <activity android:name=".ui.categories.CategoryActivity" />
        <activity android:name=".ui.categories.CategoryEditActivity" />
        <activity android:name=".ui.tags.TagsActivity" />
        <activity android:name=".ui.tags.TagActivity" />
        <activity android:name=".ui.tags.TagEditActivity" />
        <activity android:name=".ui.transactions.TransactionActivity" />
        <activity android:name=".ui.transactions.TransactionEditActivity" />
        <activity android:name=".ui.user.LoginActivity" />
        <activity android:name=".ui.settings.DataActivity" />
        <activity
            android:name=".ui.FilePickerActivity"
            android:theme="@style/FilePicker.Theme" />

        <!-- Providers -->
        <!-- ======================================================================================================= -->
        <provider
            android:name=".data.providers.CurrenciesProvider"
            android:authorities="${applicationId}.data.providers.CurrenciesProvider"
            android:exported="false" />
        <provider
            android:name=".data.providers.AccountsProvider"
            android:authorities="${applicationId}.data.providers.AccountsProvider"
            android:exported="false" />
        <provider
            android:name=".data.providers.CategoriesProvider"
            android:authorities="${applicationId}.data.providers.CategoriesProvider"
            android:exported="false" />
        <provider
            android:name=".data.providers.TagsProvider"
            android:authorities="${applicationId}.data.providers.TagsProvider"
            android:exported="false" />
        <provider
            android:name=".data.providers.TransactionsProvider"
            android:authorities="${applicationId}.data.providers.TransactionsProvider"
            android:exported="false" />

        <!-- Receivers -->
        <!-- ======================================================================================================= -->
        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!-- Services -->
        <!-- ======================================================================================================= -->
        <service android:name=".services.StartupService" />
        <service android:name=".services.GcmService" />

        <!-- Meta -->
        <!-- ======================================================================================================= -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
