<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.code44.finance">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SettingsActivity" />

        <activity android:name=".ui.currencies.CurrenciesActivity" />
        <activity android:name=".ui.currencies.CurrencyActivity" />
        <activity android:name=".ui.currencies.CurrencyEditActivity" />

        <activity android:name=".ui.accounts.AccountsActivity" />
        <activity android:name=".ui.accounts.AccountActivity" />
        <activity android:name=".ui.accounts.AccountEditActivity" />

        <!-- Providers -->
        <!-- ======================================================================================================= -->
        <provider
            android:name=".data.providers.CurrenciesProvider"
            android:authorities="@string/authority_currencies"
            android:exported="false" />
        <provider
            android:name=".data.providers.AccountsProvider"
            android:authorities="@string/authority_accounts"
            android:exported="false" />
        <provider
            android:name=".data.providers.CategoriesProvider"
            android:authorities="@string/authority_categories"
            android:exported="false" />
        <provider
            android:name=".data.providers.TransactionsProvider"
            android:authorities="@string/authority_transactions"
            android:exported="false" />

    </application>

</manifest>
